html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    font-family: sans-serif;
  }

  a{
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  #story{
      padding: 140px 0;
      background: #004047;
      background-image: url("../images/Group8Copy.svg");
      background-repeat: no-repeat;
      background-position: left 0 top 0;
      position: relative;
    }


#story::before{        
    content: '';
    width: 150px;
    height: 100px;
    background-image: url('../images/Group53.svg');
    position: absolute;
    right: 0;
    bottom: 0;
    
}
.story__header{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.story__title{
    font-family: "Livvic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 56px;
}

span{
    color: #79C8C7;    
}

.story__list{
    width: 1110px;
    height: 313px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.story__item{
    background-position: top  center;
    background-image: url('../images/undov.svg');
    background-repeat: no-repeat;
    width: 350px;
    list-style: none;
}

.coment__text{
    margin-top: 36px;
    font-family: Livvic;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.coment__title{
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    margin-bottom: 3px;
}

.coment__subtitle{
    font-family: Livvic;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.story__img{
   
    width: 62px;
    height: 62px;
    margin-left: 140px;
}
